<div fxLayout="column" class="container">
  <!-- <div *ngFor="let user of users"> -->
  <div *ngIf="user">
    <table style="width:100%;">
      <tr>
        <th>
          <h1>User: {{user.name}} {{user.surname1}}</h1>
        </th>
      </tr>
    </table>
    <table *ngFor="let account of user.accounts">
      <tr class="tr">
        <th colspan="4">{{ account.name }} Account</th>
        <th> Total: {{account.totalMoney}}</th>
      </tr>
      <th> Date:</th>
      <th> Concept:</th>
      <th> Amount Spent:</th>
      <th> Location:</th>
      <td><button mat-button (click)="openAddBillForm(account._id, user._id)"> Add a bill</button></td>

      <tr *ngFor="let operation of account.operations">
        <td style="width:70%">{{ operation.date }}</td>
        <td style="width:70%">{{ operation.concept }}</td>
        <td style="width:70%">{{ operation.amount }}</td>
        <td style="width:70%">{{ operation.location }}</td>
        <td><button mat-button (click)="recoverOperation(user._id,account._id,operation)"> Recover Bill</button></td>

      </tr>
    </table>

    <!-- <table *ngFor="let user of users" style="width:100%;">
      <tr>
        <th>
          <h1>User: {{user.name}} {{user.surname1}}</h1>
        </th>
      </tr>

    </table> -->
  </div>
  <div [hidden]="users">
    <mat-spinner></mat-spinner>
    <h4>Loading...</h4>
  </div>
</div>