form {
    width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }
  
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: hwb(253 4% 46%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color:  rgb(56, 7, 235);
  }
  