/* You can add global styles to this file, and also import other style files */
.container {
    margin: 20px;
    display:flex;
}
#main div{
    margin: 5px;
    display:flex;
    flex-direction: column;
  }