.name {
    text-align: left;

}

.account{
    text-align: left;
    background-color: hwb(253 13% 30%);
    ;
    color: floralwhite;
}

.operation{
    text-align: center;
}

button{
    width: 100%;
    background-color: darkgray;
    margin:10px;

}
.add{
    background-color: darkgray;
    float:right;
    width: 30%;
}

.cancel{
    width: 30%;
    background-color: darkgray;
    float:right;
    padding: 15px;
    margin: 1000px; //

}

