.name {
    text-align: left;

}

.account{
    text-align: left;
    background-color: black;
    color: white;
}

.operation{
    text-align: center;
}

button{
    width: 100%;
    background-color: darkgray;
}
