<div  fxLayout = "column"
      class="container"    >

   
  <div >
    <mat-list-item *ngFor="let user of users">
      <mat-card class="name">
        <h1>Owner's Name: {{user.name}} {{user.surname1}} {{user.surname2}}</h1>
      </mat-card>
      <div id="main">
        <mat-list-item *ngFor="let account of user.accounts">
          <mat-card class="account">
            <h1>Account: {{account.name}} </h1>
            <h1>Total left: {{account.totalMoney}} </h1>
          </mat-card>
          <div id="main">
            <mat-list-item *ngFor="let operation of account.operations">
              <mat-card class="operation" >
                <h3 style="text-align:left;">{{operation.concept}}  <span style="float:right;">{{operation.amount}}$</span></h3>
                <mat-card-actions align="end" *ngIf="!oper ||oper.id  != operation.id ">
                  <button mat-button color="primary" (click)="onSelect(operation)">MORE DETAILS</button>
                </mat-card-actions>
                  <mat-card *ngIf="!!oper && oper.id == operation.id">
                    <app-operation-detail [operation]="operation"></app-operation-detail>
                    <button mat-flat-button  (click)="onSelectLess()">LESS DETAILS</button>
                  </mat-card>
              </mat-card>
            </mat-list-item>
          </div>  
        </mat-list-item>
      </div>
    </mat-list-item>
  </div>

  
</div>

