.name {
    text-align: left;

}

.account{
    text-align: left;
    background-color: hwb(253 13% 30%);
    ;
    color: floralwhite;
}

.operation{
    text-align: center;
}

button{
    width: 100%;
    background-color: darkgray;
}
